@import './common/vars.sass'
@import './common/gem.scss'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 100%
    // visibility: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none




.header
    display: flex
    position: absolute
    top: 0
    width: 100%
    padding-top: gem(50)
    &-main
        display: flex
        justify-content: space-between
        .logo
            display: flex
            width: gem(87)
            height: gem(65)
            img
                width: 100%
        .burger
            display: flex
            width: gem(45)
            height: gem(30)
            padding: gem(5)
            &-line
                background: var(--color-white-main)
                display: block
                width: gem(35)
                height: gem(2)
                background: var(--color-white-main)
                position: absolute
                right: gem(5)
                &:before
                    content: ''
                    display: block
                    width: gem(25)
                    height: gem(2)
                    background: var(--color-white-main)
                    position: absolute
                    top: gem(9)
                    right: gem(0)
                &:after
                    content: ''
                    display: block
                    width: gem(30)
                    height: gem(2)
                    background: var(--color-white-main)
                    position: absolute
                    top: gem(18)
                    right: gem(0)

//hero-section

.hero
    &-section
        background: url(../img/opening.png) no-repeat
        .scroll_button
            display: flex
            flex-wrap: wrap
            width: gem(39)
            margin-left: gem(522)
            margin-top: gem(113)
            margin-bottom: gem(100)

    &-main
        display: flex
        align-items: flex-start
        position: relative
        justify-content: space-between
        &-tagline
            display: flex
            position: absolute
            p
                display: flex
                position: relative
                transform: rotate(-90deg)
                height: gem(20)
                &:before
                    content: ''
                    display: block
                    width: gem(15)
                    height: gem(2)
                    background: var(--color-black-main)
                    position: absolute
                    left: gem(-23)
                    bottom: 0
        h1
            display: flex
            flex-direction: column
            margin-left: gem(277)
            margin-top: gem(180)
            width: gem(627)
            span:nth-child(2)
                display: flex
                align-self: flex-end
                color: var(--color-white-main)
            span:nth-child(3)
                margin-left: gem(138)
        .social
            display: flex
            flex-direction: column
            margin-top: gem(303)
            a
                display: flex
            a:nth-child(1), a:nth-child(2), a:nth-child(3), a:nth-child(4), a:nth-child(5), a:nth-child(6), a:nth-child(7), a:nth-child(8)
                margin-bottom: gem(30)
            a:last-child
                margin-bottom: 0


.scroll_button
    display: flex
    flex-wrap: wrap
    width: gem(39)
    margin-left: gem(672)
    position: relative
    a
        display: flex
        position: relative
        &:after
            content: ''
            display: block
            width: gem(3)
            height: gem(98)
            background: black
            margin-bottom: gem(22)
            position: absolute
            right: gem(-20)
            top: gem(-22)

